<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <connectionStrings>
        <add name="LeberDWS" connectionString="Data Source=(localdb)\Dev;database=LeberDWS;"/>
    </connectionStrings>
    <appSettings>
        <add key="PasswordVaultPath" value="C:\it stuff\Deploy\vault\{environment}\{userNameKey}"/>
        <add key="SourcePath" value="C:\temp\source\Webportal-SDS\"/>
        <add key="DestinationPublicFolder" value="Temp_Public"/>
        <add key="DestinationPrivateFolder" value="Temp_Private"/>
        <add key="IsOneTimeJob" value="false"/>
        <add key="CanDelete" value="false"/>
        <add key="ServiceAccount" value="administrator"/>
        <add key="DbUserName" value="LisamRW"/>
        <add key="PollingTimeSeconds" value="180"/>
        <add key="Environment" value="dev"/>
        <add key="Domain" value="lebermuth.sharepoint.com"/>
        <add key="SiteUrl" value="https://sharepoint.com/sites/SharepointSite/"/>
        <add key="BaseUrl" value="https://sharepoint.com/"/>
    </appSettings>
</configuration>
